html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Start variables */
/* End  variables */
html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 125px;
  width: 100%;
}
section.row {
  flex-direction: row;
}
section .heading {
  color: #4c545d;
  font-weight: 600;
}
section .heading--primary {
  font-size: 1.9rem;
  margin-bottom: 25px;
}
section .heading--secondary {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
section .body {
  color: #9fabb2;
}
section .body--primary {
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 75px;
  width: 50%;
}
section .body--secondary {
  font-size: 0.85rem;
  line-height: 1.5rem;
  margin-bottom: 50px;
  width: 60%;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.button-wrapper .btn {
  border-radius: 2rem;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  height: 54px;
  letter-spacing: 1px;
  width: 220px;
}
.button-wrapper .btn--green {
  background: #26baa4;
  box-shadow: inset 0px -3px 0px 0px #22a591, 0px 5px 7px 5px rgba(34, 165, 145, 0.3);
}
.button-wrapper .btn--blue {
  background: #6173ff;
  box-shadow: inset 0px -3px 0px 0px #475dff, 0px 5px 7px 5px rgba(71, 93, 255, 0.3);
}

#hero {
  background: url("../images/bg-header-desktop.png") no-repeat;
  padding: 125px 0 0 0;
}
#hero .logo {
  margin-bottom: 65px;
}
#hero h1 {
  color: #4c545d;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
#hero p {
  color: #9fabb2;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 50px;
  text-align: center;
  width: 50%;
}

#snippets .heading-wrapper {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
#snippets .body-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}
#snippets .body-wrapper .feature-image {
  left: -100px;
  position: relative;
}

#supercharge .row-wrapper {
  width: 80%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
#supercharge .row-wrapper .tool {
  width: 33%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#supercharge .row-wrapper .tool .icon {
  margin-bottom: 50px;
}
#supercharge .row-wrapper .tool p {
  text-align: center;
  width: 90%;
}

#brands .brands-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
}

#footer {
  background: #f6f7f9;
  height: 150px;
  margin-bottom: 0;
}
#footer .footer-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 80%;
}
#footer .footer-wrapper .logo {
  width: 15%;
}
#footer .footer-wrapper .logo img {
  width: 50px;
}
#footer .footer-wrapper .footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;
}
#footer .footer-wrapper .footer-links .link {
  color: #4c545d;
  cursor: pointer;
  display: inline-block;
  height: 50%;
  opacity: 0.8;
  transform: translateY(25%);
  width: 33%;
}
#footer .footer-wrapper .social-icons {
  display: flex;
  justify-content: flex-end;
  width: 35%;
}
#footer .footer-wrapper .social-icons i {
  color: #4c545d;
  margin-left: 25px;
}

/*# sourceMappingURL=styles.css.map */
