@import "reset";

/* Start variables */
$strongCyan: hsl(171, 66%, 44%);
$strongCyanHover: hsl(171, 52%, 58%);
$lightBlue: hsl(233, 100%, 69%);
$lightBlueHover: hsl(233, 100%, 77%);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);
$lightGray: hsl(220, 18%, 97%);
/* End  variables */

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 125px;
  width: 100%;

  .heading {
    color: $darkGrayishBlue;
    font-weight: 600;

    &--primary {
      font-size: 1.9rem;
      margin-bottom: 25px;
    }

    &--secondary {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
  }

  .body {
    color: $grayishBlue;

    &--primary {
      line-height: 1.5rem;
      text-align: center;
      margin-bottom: 75px;
      width: 50%;
    }

    &--secondary {
      font-size: 0.85rem;
      line-height: 1.5rem;
      margin-bottom: 50px;
      width: 60%;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 500px;

  .btn {
    border-radius: 2rem;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    height: 54px;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    width: 220px;

    &--green {
      background: $strongCyan;
      box-shadow: inset 0px -3px 0px 0px hsl(171, 66%, 39%),
        0px 5px 7px 5px hsla(171, 66%, 39%, 30%);
      &:hover {
        background: $strongCyanHover;
        box-shadow: inset 0px -3px 0px 0px hsl(171, 52%, 54%),
          0px 5px 7px 5px hsla(171, 66%, 39%, 30%);
      }
    }

    &--blue {
      background: $lightBlue;
      box-shadow: inset 0px -3px 0px 0px hsl(233, 100%, 64%),
        0px 5px 7px 5px hsla(233, 100%, 64%, 30%);
      &:hover {
        background: $lightBlueHover;
        box-shadow: inset 0px -3px 0px 0px hsl(233, 100%, 74%),
          0px 5px 7px 5px hsla(233, 100%, 64%, 30%);
      }
    }
  }
}

#hero {
  background: url("../images/bg-header-desktop.png") no-repeat;
  padding: 125px 0 0 0;

  .logo {
    margin-bottom: 65px;
  }

  h1 {
    color: $darkGrayishBlue;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }

  p {
    color: $grayishBlue;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
  }
}

#snippets {
  .heading-wrapper {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .body-wrapper {
    display: flex;
    position: relative;
    align-items: center;

    .feature-image {
      left: -100px;
      position: relative;
    }
  }
}

#supercharge {
  .row-wrapper {
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

    .tool {
      width: 33%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        margin-bottom: 50px;
      }

      p {
        text-align: center;
        width: 90%;
      }
    }
  }
}

#brands {
  .brands-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
  }
}

#footer {
  background: $lightGray;
  height: 150px;
  margin-bottom: 0;

  .footer-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 80%;

    .logo {
      width: 15%;
      img {
        width: 50px;
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 50%;
      width: 50%;
      .link {
        color: $darkGrayishBlue;
        cursor: pointer;
        display: inline-block;
        height: 50%;
        opacity: 0.8;
        transform: translateY(25%);
        transition: color 0.2s ease;
        width: 33%;

        &:hover {
          color: $strongCyan;
        }
      }
    }

    .social-icons {
      display: flex;
      justify-content: flex-end;
      width: 35%;

      i {
        color: $darkGrayishBlue;
        margin-left: 25px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  section {
    .heading {
      &--primary {
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: center;
        width: 80%;
      }
    }

    .body {
      &--primary {
        font-size: 0.9rem;
        text-align: center;
        width: 80%;
      }
    }
  }

  .button-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .btn {
      width: 80%;
      margin-bottom: 25px;
    }
  }

  #hero {
    h1 {
      font-size: 1.75rem;
      line-height: 2.3rem;
      width: 90%;
    }

    p {
      font-size: 0.9rem;
      width: 83%;
    }
  }

  #snippets {
    .body-wrapper {
      flex-direction: column;

      .feature-image {
        left: 0;
        width: 80%;
        margin-bottom: 50px;

        img {
          width: 100%;
        }
      }

      .col-wrapper {
        text-align: center;

        p {
          margin: 0 auto 50px;
          width: 80%;
        }
      }
    }
  }

  #clipboard {
    .feature-image {
      width: 80%;
      img {
        width: 100%;
      }
    }
  }

  #supercharge {
    .row-wrapper {
      flex-direction: column;
      width: 100%;

      .tool {
        margin: 0 auto;
        width: 90%;
      }
    }
  }

  #brands {
    .brands-wrapper {
      align-items: center;
      flex-direction: column;

      .brand {
        margin-bottom: 50px;
      }
    }
  }

  #footer {
    height: auto;
    padding-bottom: 100px;
    .footer-wrapper {
      flex-direction: column;
      height: auto;

      .logo {
        width: auto;
        margin: 50px auto;
      }

      .footer-links {
        flex-wrap: nowrap;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        .link {
          display: block;
          width: 100%;
          margin-bottom: 50px;
        }
      }

      .social-icons {
        justify-content: space-between;
        width: 50%;

        i {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #hero {
    background: url("../images/bg-header-mobile.png") no-repeat;
  }
}
