@import "reset";

/* Start variables */
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);
/* End  variables */

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.hero {
  background: url("../images/bg-header-desktop.png") no-repeat;
  padding: 125px 0 150px;
  .logo {
    margin-bottom: 65px;
  }
  h1 {
    color: $darkGrayishBlue;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }
  p {
    color: $grayishBlue;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
  }
  .button-wrapper {
    display: flex;
    justify-content: space-around;
    width: 500px;
    .btn {
      border: none;
      border-radius: 2rem;
      color: rgba(255, 255, 255, 0.95);
      cursor: pointer;
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 1rem;
      font-weight: 600;
      padding: 16px 2.2rem 14px;
      &--green {
        background: $strongCyan;
        box-shadow: 0px 3px 0px 0px hsla(171, 66%, 39%, 100%),
          0px 5px 7px 5px hsla(171, 66%, 39%, 30%);
      }
      &--blue {
        background: $lightBlue;
        box-shadow: 0px 3px 0px 0px hsla(233, 100%, 64%, 100%),
          0px 5px 7px 5px hsla(233, 100%, 64%, 30%);
      }
    }
  }
}
